body{
    font-family: 'Noto Sans TC', 'Poppins' ,'Playfair Display' , -apple-system, BlinkMacSystemFont,  "PingFang TC", "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color:$primary;
    background-color:$bg-color;
}


