<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Playfair+Display:wght@600&family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
  <!-- google fonts -->
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="header">
    <nav class="container-header d-flex jcsb ">
      <div class="logo">
        <h1><a href="index.html" title="李東穎作品集 DeanPortfolio">李東穎作品集 DeanPortfolio</a></h1>
      </div>
      <ul class="nav__list d-flex">
        <li class="nav__item"><a class="ff-poppins fw-light" href="about.html">About</a></li>
        <li class="nav__item"><a class="ff-poppins fw-light" href="work.html">Work</a></li>
        <li class="nav__item"><a class="ff-poppins fw-light" href="mailto:dean19990226@gmail.com">Contact</a></li>
      </ul>
      <div class="btn__buger"></div>
    </nav>
  </header>
  <main>
     <%- contents %>
  </main>
  <footer class="footer container-footer">
    <ul class="social d-flex">
      <li><a href=""><img src="./assets/images/icon-github.svg" alt=""></a></li>
      <li><a href=""><img src="./assets/images/icon-ig.svg" alt=""></a></li>
      <li><a href=""><img src="./assets/images/icon-medium.svg" alt=""></a></li>
    </ul>
    <div class="copyRight d-flex">
      <p>© 李東穎 Dean Lee <span>|</span></p>
      <a href="mailto:dean19990226@gmail.com">dean19990226@gmail.com</a>
    </div>
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
